{% extends "base.html" %}

{% block content %}
<div class="md-content" style="text-align: center; padding: 50px;">
    <h1>404 - 页面未找到</h1>
    <p>抱歉，您请求的页面不存在。</p>

    <!-- 添加导航链接 -->
    <h3>
        <ul style="list-style: none; padding: 0;">
            <li>⬆尝试搜索框搜索⬆</li>
            <li><a href="{{ '' | url }}"> 返回首页</a></li>
            <li><a href="{{ 'blog/' | url }}">浏览我的博客</a></li>
            <li><a href="{{ 'about/' | url }}">了解更多关于我</a></li>
        </ul>
    </h3>
</div>
{% endblock %}