{% extends "base.html" %}

{% block content %}
{{ super() }}
<h3> ◀️ 请通过侧面导航栏浏览章节内容</h3>
<div id="file-list-container"></div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        fetch('file_list.html')
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.text();
            })
            .then(data => {
                document.getElementById('file-list-container').innerHTML = data;
            })
            .catch(error => {
                console.error('Error fetching file list:', error);
            });
    });
</script>
{% endblock %}